*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header{
  background-color: #fff2e8;
  padding-top: 50px;
}
.logo {
  font-size: 1.5em;
}
.logo-color{
  color: #ff7300;
}
nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: black;
}
nav li a:hover{
  background-color: #ff730021;
  padding: 10px;
  
}
nav button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: #ff892f;
  color: white;

}