*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
  background-color: #fff8f3;
  padding-top: 50px;
  background: url("/hero-dev-portfolio-resources/images/developer.png"), url("/hero-dev-portfolio-resources/images/header_bg.png"), #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.logo {
  font-size: 1.5em;
}
.logo-color{
  color: #ff7300;
}
nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: black;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  background-color: #ff892f;
  color: white;
  cursor: pointer;
}
#banner{
  /*border: 1px solid black;*/
  margin: 20px 20px 0 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content h2{
  font-size: 35px;
  color: #636363;
  margin-bottom: 17px;
}
#banner .banner-content h1{
  font-size: 60px;
  margin-bottom: 17px;
}
#banner .banner-content p{
  margin-bottom: 27px;
  font-size: 20px;
  color: #717171;
}
.contact-btn{
  color: #ff892f;
  background: none;
  border: 2px solid #ff892f;
}
.banner-btn{
  display: flex;
  gap: 25px;
}
#banner .banner-image img{
  width: 600px;
  vertical-align: middle;
}
#about{
  margin: 100px auto 0 auto;
  padding: 100px;
  border-radius: 8px;
  width: 70%;
  background-color: #fff8f3;
}
#about .about-container{
  text-align: center;
}
#about .about-info{
  display: flex;
  gap: 15%;
  justify-content: center;
}
.section-heading h2{
  margin-bottom: 30px;
  font-size: 30px;
}
.section-heading p{
  margin-bottom: 30px;
  color: #636363;
  line-height: 27px;
}
#about .info-card p{
  color: #797979;
}
#about .info-card h4{
  font-size: 18px;
  color: #343434;
}
#skills{
  margin: 100px auto 0 auto;
  width: 70%;
}
#skills .skills-heading{
  text-align: center;
  margin-bottom: 50px;
}
#skills .skills-heading h2{
  margin-bottom: 20px;
  font-size: 30px;
}
#skills .skills-heading p{
  margin-bottom: 20px;
  padding: 0 50px;
  color: #7e7e7e;
}
#skills .card-container{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
#skills .info-card{
  box-shadow: 5px 0 20px rgba(0, 0, 0, 0.05)
              ,-5px 0 20px rgba(0, 0, 0, 0.05);
  padding: 35px;
  border-radius: 20px;
  max-width: 280px;
}
#skills .info-card img{
  border-radius: 8px;
  margin-bottom: 15px;
}
#skills .info-card h4{
  padding: 10px 0;
  font-size: 25px;
}
#skills .info-card p{
  color: #636363;
  font-size: 18px;
  line-height: 25px;
}
#resume{
padding-top: 100px;
}
.resume-container{
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
}
.resume-card{
  padding: 0 100px;
}
.resume-card h3 {
    color: #383838;
    padding-bottom: 10px;
    padding-top: 30px;
}
.resume-card p{
  padding-bottom: 10px;
  color: #585858;
}
hr{
  margin-top: 20px;
}
.atg{
  margin: 0 auto;
  width: 70%;
  color: #383838;
  font-size: 30px;
}
.btg{
  text-align: center;
}