*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header{
  background-color: #fff8f3;
  padding-top: 50px;
  background: url("/hero-dev-portfolio-resources/images/developer.png"), url("/hero-dev-portfolio-resources/images/header_bg.png"), #fff8f3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.logo {
  font-size: 1.5em;
}
.logo-color{
  color: #ff7300;
}
nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style-type: none;
  gap: 50px;
  align-items: center;
}
nav .menu a{
  text-decoration: none;
  color: black;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  background-color: #ff892f;
  color: white;
  cursor: pointer;
}
#banner{
  /*border: 1px solid black;*/
  margin: 20px 20px 0 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content h2{
  font-size: 35px;
  color: #636363;
  margin-bottom: 17px;
}
#banner .banner-content h1{
  font-size: 60px;
  margin-bottom: 17px;
}
#banner .banner-content p{
  margin-bottom: 27px;
  font-size: 20px;
  color: #717171;
}
.contact-btn{
  color: #ff892f;
  background: none;
  border: 2px solid #ff892f;
}
.banner-btn{
  display: flex;
  gap: 25px;
}
#banner .banner-image img{
  width: 600px;
  vertical-align: middle;
}